<h1> THis is the home page </h1>
<p> This is the home-page and hence it should have all the components of the home page. It 
should lead to login page. It should have logo and all the hallmarks of a beautiful 
website. It should ask the user if they want to order food, cook food or deliver food. 
Based on the choice of the user, each choice should lead to a different page after user authntication
i.e. after the user successfully logs-in. </p>


<h3> Order your homefood now </h3>

<div> <%= button_to "Order Home Food", option_path, method: :get %> </div>
<p> </p>


<div> <%= button_to "Login As Cook", root_path%> </div>
<p> </p>
<div> <%= button_to "Login as Delivery Partner"%></div>