<h1> This is the options page to choose between ordering food by logging in or as a guest.  </h1>

<div> <%= button_to "Login",  new_eater_session_path, method: :get %> </div>
<p> </p>
<div> <%= button_to "Continue as Guest", guest_path, method: :get %> </div>
<p> </p>